body {
    background-color: blueish;
    font-famly: Arial, sans-serif;
    color: white
}

h1 {
    text-align center;
    font-size: 3em
}

ul {
    list-style-type: cercle;
    padding left: 20px
}

img {
    border 2px solid black;
}

.footer {
    margin-top 30px;
    text-align: middle;
}
